footer
  header
    section#google-map
      div#map-container
      button#map-zoom-in
      button#map-zoom-out

  section
    aside(role='info-contact')

      header
        h3=contact_info_title
        p=contact_
        hr.

      hr.

      article
        ul
          li 
            i.
            a(href='') Av. Luiz Antônio de Araújo 211
          li
            i.
            a(href='tel:558132664025') +55 81 3266.4025
          li
            i.
            a(href='mailto:ola@pontelab.com?subject=') ola@pontelab.com

    article(role='form-contact')
      header
        h3=contact_title
        p=contact_text

      section

        form(method='post' name='' class='form')
          fieldset
            input(type='text' class='field' name='name' title=contact_form_title_name placeholder=contact_form_name required).
            input(type='email' class='field' name='email' title=contact_form_title_email placeholder=contact_form_email required).
            input(type='tel' class='field' name='phone' style='display: none;' placeholder=contact_form_tel).
            textarea(name='msg' class='field' title=contact_form_title_msg placeholder=contact_form_msg required)

  footer
    |&copy; | #{title}